<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mini Academia</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h2>Mini Academia</h2>
        <p style="font-size: 0.8rem; color: #64748b;">
            Gestión de cursos
        </p>
    </aside>

    <!-- CONTENIDO -->
    <main class="content">

        <div class="topbar">
            <h1 style="font-size: 1.3rem;">Cursos</h1>

            <a href="/web/cursos/nuevo" class="btn-main">
                Crear curso
            </a>
        </div>

        <div class="grid">

            <div class="card" th:each="curso : ${cursos}">

                <h3 th:text="${curso.titulo}"></h3>
                <p th:text="${curso.descripcion}"></p>

                <span class="tag"
                      th:text="${curso.categoriaNombre}"></span>

                <div class="actions">

                    <a th:href="@{'/web/cursos/editar/' + ${curso.id}}"
                       class="btn-edit">
                        Editar
                    </a>

                    <form th:action="@{'/web/cursos/eliminar/' + ${curso.id}}" method="post">
                        <button class="btn-delete">
                            Eliminar
                        </button>
                    </form>

                </div>

            </div>

        </div>

    </main>

</div>

</body>
</html>